body {
  background-color: orchid;
}

#grid,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

#grid {
  border: 2px solid black;
  font-size: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.square {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.on {
  background-color: orange;
}

#instructions {
  width: 325px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

#messageParagraph {
  color: #ff4c00;
  font-size: 50px;
  margin: 0;
}